[submodule "kross-hugo"]
	path = themes/kross-hugo
	url = https://github.com/themefisher/kross-hugo.git
[submodule "public"]
	path = public
	url = https://github.com/805bluebell/805bluebell.github.io.git
[submodule "themes/kross-hugo-modified"]
	path = themes/kross-hugo-modified
	url = https://github.com/805bluebell/kross-hugo.git
